.content {
    width: 334px;
    height: 216px;
    background: #1d1d1d;
    border-radius: 10px;
    overflow-y: auto;
    padding: 0;
  }
  
  .wrapper {
    padding: 10px;
    /* width: 668px;
    height: 432px;
    transform: scale(0.5);
    transform-origin: top left; */
  }
  